body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0;
    padding-top: 2rem;
    min-height: 101%;
    font-family: system-ui, sans-serif;
    font-size: 75%;
}

#title{
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: bold;
}
#subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 2rem;
}

#title-icon{
  margin-bottom: -0.4rem;
  content: '';
  display: inline-block;
  background: url('./icon128.png') 50%/contain no-repeat;
  width: 2rem;
  height: 2rem;
}

.panel {
  width: min(100%, 800px);
  display: flex;
  flex-direction: column;
	padding: 0;
}

.panel#body{
  min-height: calc(90% - 100px);
}

.panel#footer {
	height: 100px;
}

button {
  border-radius: 0.3rem;
  border: 1px solid #d0d0d0;
	min-width: 100px;
	margin: 5px;
	cursor: pointer;
  background-color: #f7f8f9;
  transition: background-color ease 0.3s;
  &:hover{
    background-color: #e9ebee;
  }
}
 
input{
  margin: 0 0.2rem 0 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid #d0d0d0;
  outline: 0;
  &:focus{
    box-shadow: 0 0 0 0.1rem rgba(0, 122, 253, 0.4);
  }
}

#reset_config {
	width: 120px;
	height: 26px;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    unicode-bidi: isolate;
}
.centered {
    text-align: center;
}